@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* @apply bg-gray-100; */
    font-family: "Noto Sans Thai", sans-serif;
    color: #273D4B;
  }
/*   .two-bg {
    background-image: linear-gradient(to right, #49CED8, #59DEBB),
      url("/images/stepsImg/bg-banner.png");
  } */
}
